---
import coverImage from '~/images/cover.jpg';
import { Image } from '@astrojs/image/components';
// @ts-ignore
import Button from '~/components/Button.astro';
import Container from '~/components/Container.astro';
import SocialLink from '~/components/SocialLink.astro';

import TwitterIcon from './TwitterIcon.astro';
import XingIcon from './XingIcon.astro';
import CVIcon from './CVIcon.astro';
import LinkedInIcon from './LinkedInIcon.astro';

const {title} = Astro.props;
---

<Container className="pt-20 pb-16 lg:pt-32">
  <!-- <div class="mb-10 mt-14 sm:mb-16">
    <h1 class="mx-auto max-w-3xl font-display text-5xl font-medium tracking-tight text-slate-900 sm:text-7xl">
      {title}
    </h1>
  </div>
  <div class="mx-auto max-w-2xl text-lg tracking-tight text-slate-700">
    <slot />
  </div>
  <div class="mt-10 flex justify-center gap-x-6">
    <Button href="#cv">Curriculum Vitae</Button>
  </div> -->


  <div class="grid grid-cols-1 gap-y-16 lg:grid-cols-2 lg:grid-rows-[auto_1fr] lg:gap-y-12">
          <div class="lg:pl-20">
            <div class="max-w-xs px-2.5 lg:max-w-none">
              <Image
                src={coverImage}
                alt=""
                sizes="(min-width: 1024px) 32rem, 20rem"
                class="aspect-square rotate-3 rounded-2xl bg-zinc-100 object-cover dark:bg-zinc-800"
              />
            </div>
          </div>
          <div class="lg:order-first lg:row-span-2">
            <h1 class="text-4xl font-bold tracking-tight text-zinc-800 dark:text-zinc-100 sm:text-6xl">
              {title}
            </h1>
            <div class="mt-6 space-y-7 text-base text-zinc-600 dark:text-zinc-400">
              <slot />
            </div>
          </div>

          <div class="lg:pl-20">
            <ul role="list">
              <!-- social links -->
               <SocialLink href="#" icon={TwitterIcon}>
                Follow on Twitter
              </SocialLink>
              <SocialLink href="#" icon={XingIcon} className="mt-4">
                Follow on Xing
              </SocialLink>
              <SocialLink href="#" icon={LinkedInIcon} className="mt-4">
                Follow on LinkedIn
              </SocialLink>
              <SocialLink
                href="/CV-Henning-Hermes.pdf"
                icon={CVIcon}
                className="mt-8 border-t border-zinc-100 pt-8 dark:border-zinc-700/40"
              >
                Curriculum Vitae
              </SocialLink>
            </ul>
          </div>
        </div>
</Container>
